{% extends 'layout.html' %}
{% block content %}
    <div class="banner-historical">
        Historical Art
    </div>
    <div class="entry">
        <div class="entry-art">
            <img class= "artwork" src="{{ url_for('static', filename='orange_packing_at_redlands_2006.170.16.jpg') }}" alt="title">
        </div>
        <div class="entry-text">
            <p class="artwork-title">Name of Artwork</p>
            <p class="artwork-artist">Artist</p>
        </div>
    </div>
{% endblock content %}