<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Around the World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="nav-header">
            <div class="nav-title">
                <a class="one" href="{{ url_for('home') }}">Art Around the World</a>
            </div>
            <div class="nav-site1">
                <a class="one" href="{{ url_for('historical_art') }}">Historical Art</a>
            </div>
            <div class="nav-site2">
                <a class="one" href="{{ url_for('user_art') }}">Your Art</a>
            </div>
            <div class="nav-site3">
                <a class="one" href="{{ url_for('share') }}">Share</a>
            </div>
            <div class="nav-site4">
                <a class="one" href="{{ url_for('about_us') }}">About Us</a>
            </div>
        </div>
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>
</html>